{%- liquid
  assign card_desktop_items_per_row = card_desktop_items_per_row | default: section.settings.grid_desktop_items_per_row | default: 3
  assign card_mobile_items_per_row = card_mobile_items_per_row | default: section.settings.grid_mobile_items_per_row | default: 1
-%}
<article class="ArticleCard ArticleCard--{{ section.settings.card_align }} {% if section.settings.content_on_image and article.image != blank %}ArticleCard--contentOnImage{% endif %} 
  {% unless article.image != blank %}ArticleCard--noImage{% endunless %} 
   {% if big_card %}ArticleCard--big{% endif %}" {% if block %}{{ block.shopify_attributes }}{% endif %}>
  {%- if article.image != blank -%}
     {%- assign media_aspect_ratio = article.image.aspect_ratio -%}

    <a class="ArticleCard__ImageWrapper Ratio{% if section.settings.featured_image_size != 'natural' %} Ratio--{{ section.settings.featured_image_size }}{% endif %}" 
       style="{% if section.settings.featured_image_size == 'natural' %}--tg-aspect-ratio: {{ media_aspect_ratio }};{% endif %}" href="{{ article.url }}">
        <img class="ArticleCard__Image Image--lazyLoad"
        srcset="{%- if article.image.width >= 165 -%}{{ article.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if article.image.width >= 360 -%}{{ article.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if article.image.width >= 533 -%}{{ article.image | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if article.image.width >= 720 -%}{{ article.image | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if article.image.width >= 940 -%}{{ article.image | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if article.image.width >= 1066 -%}{{ article.image | image_url: width: 1066 }} 1066w,{%- endif -%}
          {%- if article.image.width >= 1280 -%}{{ article.image | image_url: width: 1280 }} 1280w,{%- endif -%}
          {{ article.image | image_url }} {{ article.image.width }}w"
        src="{{ article.image | image_url: width: 533 }}"
        sizes="(min-width: 641px) calc(100vw / {{ card_desktop_items_per_row }}), calc(100vw / {{ card_mobile_items_per_row }})"
        alt="{{ article.image.alt | escape }}"
        loading="lazy"
        decoding="async"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
      >
        <span class="Image--loader"></span>

      <noscript>
        <img class="ArticleCard__Image" src="{{ article.image | image_url: width: 600 }}" loading="lazy" width="{{ article.image.width }}" height="{{ article.image.height }}" alt="{{ article.image.alt | escape }}">
      </noscript>
      {%- if section.settings.content_on_image -%} <div class="BackgroundOverlay BackgroundOverlay--indexAuto"></div>{%- endif -%}
    </a>
  {%- endif -%}

  <div class="ArticleCard__Content">
    {%- if section.settings.show_category -%}
      <span class="ArticleCard__Category{% if section.settings.text_color == blank or section.settings.text_color == 'rgba(0,0,0,0)' %} TextMuted{% endif %}">{{ article.tags.first }}</span>
    {%- endif -%}

    <h2 class="ArticleCard__Title {% if big_card %}CustomSize HeadlineMedium{% endif %}">
      <a href="{{ article.url }}">{{ article.title | truncate: 50 | escape }}</a>
    </h2>

    {%- if section.settings.show_description -%}
      <p class="ArticleCard__Excerpt RTE">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p>
    {%- endif -%}

    {%- if section.settings.show_read_more -%}
      <a href="{{ article.url }}" class="ArticleCard__Link Nav__Link Nav__Link--underline" aria-label="{{ 'blog.article.read_more' | t }} {{ article.title | truncate: 50 | escape }}">{{ 'blog.article.read_more' | t }}</a>
    {%- endif -%}

  </div>
</article> 