{%- liquid
  assign card_mobile_items_per_row = section.settings.grid_mobile_items_per_row | default: 1
  if section.settings.layout_mobile == 'horizontal'
    assign card_mobile_items_per_row = 1.136
  endif
-%}
<div class="FeaturedColumnsCard 
 FeaturedColumnsCard--image{{ block.settings.image_position }}" {% if block %}{{ block.shopify_attributes }}{% endif %}> 
  {%- if block.settings.image != blank -%}

    {%- assign image_aspect_ratio = block.settings.image.aspect_ratio | default: 1 -%}

    <a class="FeaturedColumnsCard__ImageWrapper Ratio" style="--tg-aspect-ratio: {{ image_aspect_ratio }};" href="{{ block.settings.link_url }}">
      {%- capture tg_sizes -%}(min-width: 641px) calc(100vw / {{ section.settings.grid_desktop_items_per_row | default: 2 }}), calc(100vw / {{ card_mobile_items_per_row }}){%- endcapture -%}
      {{ block.settings.image | image_url: width: 3000 | image_tag:

          decoding: 'async',
          sizes: tg_sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000',
          class: 'FeaturedColumnsCard__Image Image--fadeIn Image--lazyLoad'
      }}
      <span class="Image--loader"></span>
    </a>
  {%- else -%}
    {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
    <div class="FeaturedColumnsCard__ImageWrapper Ratio" style="--tg-aspect-ratio: 1.6">
      {{ placeholder | placeholder_svg_tag: 'FeaturedColumnsCard__Image SvgPlaceholder' }}
    </div>
  {%- endif -%}

  {%- if block.settings.subheading != blank or block.settings.heading != blank or block.settings.excerpt != blank or block.settings.button_label != blank -%} 
    <div class="FeaturedColumnsCard__Content  Text{{ block.settings.text_align }}">
      {%- if block.settings.subheading != blank -%}
        <div class="FeaturedColumnsCard__Subheading TextMuted">
            {%- if block.settings.link_url != blank -%}
                <a href="{{ block.settings.link_url }}">{{ block.settings.subheading }}</a>
            {%- else -%}
                {{ block.settings.subheading }}
            {%- endif -%}
        </div>
    {%- endif -%}
      {%- if block.settings.heading != blank -%}
        <h2 class="FeaturedColumnsCard__Heading CustomSize {{ block.settings.heading_font_size }}">
          {%- if block.settings.link_url != blank -%}
            <a href="{{ block.settings.link_url }}">{{ block.settings.heading }}</a>
          {%- else -%}
            {{ block.settings.heading }}
          {%- endif -%}
        </h2>
      {%- endif -%}

      {%- if block.settings.excerpt != blank -%}<div class="FeaturedColumnsCard__Excerpt RTE">{{ block.settings.excerpt }}</div>{%- endif -%}

      {%- if block.settings.button_label != blank -%}
        <a href="{{ block.settings.link_url }}" class="Button Button--{{ block.settings.button_style }}">{{ block.settings.button_label }}</a>
      {%- endif -%}
    </div>
  {%- endif -%}
</div> 