{{ 'component-product-gallery-stacks.css' | asset_url | stylesheet_tag }}

<div class="ProductGallery ProductGallery--stack {% if section.settings.enable_image_zoom %}ProductGallery--zoom{% endif %}">

    {%- liquid 
        assign gallery_media_size = section.settings.gallery_media_size 
        assign is_gallery_media_fit_cover = section.settings.gallery_media_fit_cover 
        if gallery_media_size == 'natural' 
            assign use_natural_size = true 
        else 
            assign use_natural_size = false 
        endif 
    -%}

    <div class="ProductGallery__Inner">
        {%- liquid
            assign even_image = false
            assign media_size = product.media.size
            assign image_size = product.media.size | modulo : 2
            if product.media.size > 0 and image_size == 0 
                assign even_image = true
            endif 
        -%}

        {%- for media in product.media -%}
            {%- case media.media_type -%}
            {%- when 'image' -%}
                <div class="Product__MediaWrapper MediaModalOpener MediaModalOpener--image Ratio{% unless use_natural_size %} Ratio--{{ gallery_media_size }}{% endunless %}{% unless is_gallery_media_fit_cover %} Ratio--contain{% endunless %} {% if media_size == 1 %} Product__MediaWrapper--fullWidth{% endif %} {% if even_image and forloop.last %}Product__MediaWrapper--lastBig{% endif %}" 
                    data-media-type="image" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}"
                    style="order:{{ forloop.index }}; {% if use_natural_size %}--tg-aspect-ratio: {{ media.preview_image.aspect_ratio }};{% endif %}">

                    {%- if section.settings.enable_image_zoom -%}
                        <div class="Product__ActionList">
                            <div class="Product__ActionItem">
                                <button class="Button Button--icon" type="button">
                                    <span class="VisuallyHidden">
                                        {{ 'product.general.open_gallery_view' | t }}
                                    </span>
                                    {% render 'icons', icon: 'fullscreen' %}
                                </button>
                            </div>
                        </div>
                    {%- endif -%}

                    <img
                        class="Product__Media Product__Media--image Image--fadeIn Image--lazyLoad"
                        srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                                {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if media.preview_image.width >= 1445 -%}{{ media.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                                {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                                {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                                {%- if media.preview_image.width >= 2200 -%}{{ media.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                                {%- if media.preview_image.width >= 2890 -%}{{ media.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                                {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                                {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                        sizes="(min-width: 1008px) calc(100vw / 1.5), {% if forloop.first %}100vw{% elsif even_image and forloop.last %}100vw{% else %}50vw{% endif %}"
                        src="{{ media.preview_image | image_url: width: 1445 }}"
                        alt="{{ media.alt | escape }}"
                        {% unless forloop.first %}loading="lazy"{% endunless %}
                        decoding="async"
                        width="1100"
                        height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                        data-media-id="{{ media.id }}"
                      >
                      <span class="Image--loader"></span>
                </div>

            {%- when 'external_video' -%}
                <deferred-media class="Product__MediaWrapper MediaModalOpener DeferredMedia {% if media_size == 1 %}Product__MediaWrapper--fullWidth{% endif %} {% if even_image and forloop.last %}Product__MediaWrapper--lastBig{% endif %}" 
                    data-media-type="external_video" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}" 
                    style="order:{{ forloop.index }};">
                    
                    <div id="Deferred-Cover-Modal-{{ media.id }}" class="DeferredMedia__CoverImageWrapper Ratio{% unless use_natural_size %} Ratio--{{ gallery_media_size }}{% endunless %}{% unless is_gallery_media_fit_cover %} Ratio--contain{% endunless %}"
                    {% if use_natural_size %}style="--tg-aspect-ratio: {{ media.aspect_ratio }};"{% endif %}>

                        <img class="DeferredMedia__CoverImage Product__Media Product__Media--externalVideo Image--fadeIn Image--lazyLoad"
                            srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                    {% if media.preview_image.width >= 576 %}{{ media.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                    {% if media.preview_image.width >= 550 %}{{ media.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                    {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                    {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                            src="{{ media | image_url: width: 550, height: 550 }}"
                            sizes="(min-width: 1008px) calc(100vw / 1.5), {% if forloop.first %}100vw{% elsif even_image and forloop.last %}100vw{% else %}50vw{% endif %}"
                            {% unless forloop.first %}loading="lazy"{% endunless %}
                            decoding="async"
                            width="576"
                            height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                            alt="{{ media.preview_image.alt | escape }}"
                        >

                        <span class="Image--loader"></span> 
                        <button class="Button Button--icon Button--play">{% render 'icons', icon: 'play-fill' %}</button>
                    </div>

                    <template>
                        {%- liquid
                            assign video_class = 'js-' | append: media.host
                            if media.host == 'youtube'
                                echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
                            else
                                echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy"
                            endif
                        -%}
                    </template>

                </deferred-media>

            {%- when 'video' -%}
                <deferred-media class="Product__MediaWrapper MediaModalOpener DeferredMedia {% if media_size == 1 %}Product__MediaWrapper--fullWidth{% endif %} {% if even_image and forloop.last %}Product__MediaWrapper--lastBig{% endif %}" 
                    data-media-type="video" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}"
                    style="order:{{ forloop.index }};">
                    
                    <div id="Deferred-Cover-Modal-{{ media.id }}" class="DeferredMedia__CoverImageWrapper Ratio {% unless use_natural_size %} Ratio--{{ gallery_media_size }}{% endunless %}{% unless is_gallery_media_fit_cover %} Ratio--contain{% endunless %}" 
                         {% if use_natural_size %}style="--tg-aspect-ratio: {{ media.preview_image.aspect_ratio }};"{% endif %}>
                        
                         <img class="DeferredMedia__CoverImage Product__Media Product__Media--video Image--fadeIn Image--lazyLoad"
                            srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                    {% if media.preview_image.width >= 576 %}{{ media.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                    {% if media.preview_image.width >= 550 %}{{ media.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                    {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                    {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                            src="{{ media | image_url: width: 550, height: 550 }}"
                            sizes="(min-width: 1008px) calc(100vw / 1.5), {% if forloop.first %}100vw{% elsif even_image and forloop.last %}100vw{% else %}50vw{% endif %}"
                            {% unless forloop.first %}loading="lazy"{% endunless %}
                            decoding="async"
                            width="576"
                            height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                            alt="{{ media.preview_image.alt | escape }}"
                          >

                         <span class="Image--loader"></span> 
                        <button class="Button Button--icon Button--play">{% render 'icons', icon: 'play-fill' %}</button> 
                    </div>

                    <template>
                        {%- liquid
                             echo media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none"
                        -%}
                    </template>

                </deferred-media>

            {%- when 'model' -%}
                <div class="Product__MediaWrapper MediaModalOpener {% if media_size == 1 %}Product__MediaWrapper--fullWidth{% endif %} {% if even_image and forloop.last %}Product__MediaWrapper--lastBig{% endif %}" 
                style="order:{{ forloop.index }};" 
                data-media-type="model" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}">
                    <product-model class="DeferredMedia">

                        <div id="Deferred-Cover-Modal-{{ media.id }}" class="DeferredMedia__CoverImageWrapper Ratio {% unless use_natural_size %} Ratio--{{ gallery_media_size }}{% endunless %}{% unless is_gallery_media_fit_cover %} Ratio--contain{% endunless %}" 
                            {% if use_natural_size %}style="--tg-aspect-ratio: {{ media.preview_image.aspect_ratio }};"{% endif %}>
                            
                            <img class="DeferredMedia__CoverImage Product__Media Product__Media--model Image--fadeIn Image--lazyLoad"
                                srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                        {% if media.preview_image.width >= 576 %}{{ media.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                        {% if media.preview_image.width >= 550 %}{{ media.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                        {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                        {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                                src="{{ media | image_url: width: 550, height: 550 }}"
                                sizes="(min-width: 1008px) calc(100vw / 1.5), {% if forloop.first %}100vw{% elsif even_image and forloop.last %}100vw{% else %}50vw{% endif %}"
                                {% unless forloop.first %}loading="lazy"{% endunless %}
                                decoding="async"
                                width="576"
                                height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                                alt="{{ media.preview_image.alt | escape }}"
                              >
                            
                            <span class="Image--loader"></span> 
                            <button class="Button Button--icon Button--play">{% render 'icons', icon: 'media-view-in-space' %}</button>
                        </div>

                        <template>
                            {%- liquid
                                echo media | media_tag: image_size: "2048x", toggleable: true
                            -%}
                        </template>

                    </product-model>
                    <button
                        class="Button Button--full Button--primary Button--productXR"
                        type="button"
                        aria-label="{{ 'product.general.view_in_space' | t }}"
                        data-shopify-xr
                        data-shopify-model3d-id="{{ media.id }}"
                        data-shopify-title="{{ product.title }}"
                        data-shopify-xr-hidden
                        >
                        {% render 'icons', icon: 'media-view-in-space' %}
                        {{ 'product.general.view_in_space' | t }}
                    </button>
                </div>
            {%- endcase -%}

        {%- endfor -%}
    </div>

</div>

