{%- if block.settings.subheading != blank or block.settings.heading != blank or block.settings.excerpt != blank or block.settings.button_label != blank -%} 
    <div class="TextBlockCard Text{{ block.settings.text_align }} TextBlockCard--position{{ block.settings.desktop_text_position }}">
        {%- if block.settings.heading != blank or block.settings.subheading != blank -%}
            <div>
                {%- if block.settings.subheading != blank -%}
                    <div class="TextBlockCard__Subheading TextMuted">
                        {%- if block.settings.link_url != blank -%}
                            <a href="{{ block.settings.link_url }}">{{ block.settings.subheading }}</a>
                        {%- else -%}
                            {{ block.settings.subheading }}
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if block.settings.heading != blank -%}
                    <h2 class="TextBlockCard__Heading CustomSize {{ block.settings.heading_font_size }}">
                        {%- if block.settings.link_url != blank -%}
                            <a href="{{ block.settings.link_url }}">{{ block.settings.heading }}</a>
                        {%- else -%}
                            {{ block.settings.heading }}
                        {%- endif -%}
                    </h2>
                {%- endif -%}
            </div>
        {%- endif -%}
        {%- if block.settings.excerpt != blank or block.settings.button_label != blank -%}
            <div>
                {%- if block.settings.excerpt != blank -%}
                    <div class="TextBlockCard__Excerpt RTE">{{ block.settings.excerpt }}</div>
                {%- endif -%}

                {%- if block.settings.button_label != blank -%}
                    <a href="{{ block.settings.link_url }}" 
                        class="TextBlockCard__Button Button Button--{{ block.settings.button_style }}{% if block.settings.button_style != 'underline' and block.settings.enable_full_width_button %} Button--full{% endif %}">
                        {{ block.settings.button_label }}
                    </a>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
{%- endif -%}