<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_theme }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <title>
      {{ page_title }}
      {% if current_tags %}
        {% assign meta_tags = current_tags | join: ', ' %} &ndash; 
        {{ 'general.meta.tags' | t: tags: meta_tags }}
      {% endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}" type="image/png">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
    
    {{ content_for_header }}

    {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
    {{ 'component-carousel.css' | asset_url | stylesheet_tag }}
    {{ 'component-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-dropdown.css' | asset_url | stylesheet_tag }}
    {{ 'component-tab.css' | asset_url | stylesheet_tag }}

    {{ 'component-product-swatches.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-card.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-rating.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="{{ 'component-modal.css' | asset_url }}" media="print" onload="this.media='all'">

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="{{ 'component-predictive-search-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
 
    {%- if template.directory == 'customers' -%}
      {{ 'template-account.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'product' -%}
      {{ 'template-product.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'collection' -%}
      {{ 'template-collection.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'cart' -%}
      {{ 'template-cart.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'search' -%}
      {{ 'template-search.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'blog' -%}
      {{ 'template-blog.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'article' -%}
      {{ 'template-article.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'page' -%}
      {{ 'template-page.css' | asset_url | stylesheet_tag }}
    {%- elsif template.name == 'list-collections' -%}
      {{ 'template-list-collections.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {{ 'custom-fonts.css' | asset_url | stylesheet_tag }}

    
    {%- if settings.custom_code_css != blank -%}
      <style>
        {{ settings.custom_code_css }}
      </style>
    {%- endif -%}

    <script>
      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        productImageSize: {{ settings.product_image_size | json }},
        useAjaxCart: {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }},
        predictiveSearchUrl: {{ routes.predictive_search_url | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {{ 'product.form.add_to_cart' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

     
    </script>
   
    <script src="{{ 'lazysizes.js' | asset_url }}" async></script>

    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>

    <script>
      (function () {
        window.onpageshow = function() {
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--tg-window-height', window.innerHeight + 'px');
    </script>

    {% render 'microdata-schema' %}

    <script src="{{ 'libs.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'helpers.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'components.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="MandolinTheme Template {% if template.directory %}Template--{{ template.directory | handle }}{% endif %} Template--{{ template.name | handle }} {% if template.suffix %}Template--{{ template.suffix | handle }}{% endif %}">

    <a class="SkipToContentLink VisuallyHidden" href="#MainContent">{{ 'header.navigation.skip_to_content' | t }}</a>
    {%- render 'loading-bar' -%}

    {%- liquid 
      section 'menu-drawer'
      if template.name != 'cart' and settings.cart_type == 'drawer' 
        section 'cart-drawer' 
      endif 
      section 'search-drawer'
 
    -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <div class="FooterGroup">
      {% sections 'footer-group' %}
    </div>

    {% section 'product-quickview' %}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    
    {%- if request.design_mode -%}
      <script src="{{ 'section-featured-collection.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-featured-columns.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-featured-nav.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-featured-product.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-slideshow.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-testimonials.js' | asset_url }}" defer="defer"></script>

      <script src="{{ 'section-product-recently-viewed.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-product-recommendations.js' | asset_url }}" defer="defer"></script>
      
      <script src="{{ 'section-announcement-bar.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'section-scrolling-bar.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'component-gift-card-recipient.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'component-quick-add-to-cart-button.js' | asset_url }}" defer="defer"></script>
      {% comment %} bug fixed {% endcomment %}
      {{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}
      {{ 'section-testimonials.css' | asset_url | stylesheet_tag }}


      <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.custom_code_javascript != blank -%}
      <script>
        {{ settings.custom_code_javascript }}
      </script>
    {%- endif -%}


    {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '"'
    | first
    | split: '.myshopify.com'
    | last
    | replace: '\/', '/'
    | replace: '%20', ' '
    | replace: '\u0026', '&'
  -%}{% capture urlParameter %}https://{{ pageUrl }}{% endcapture %}

     {%- if template == 'product' and urlParameter contains "cloudfunding" -%}
       <a href="#shopify-section-template--21540746658071__main" id="float_btn" class="">応援する</a>
    {%- endif -%}

</body>


<script>
    // Get the button:
    let btn = document.getElementById("float_btn");
    console.log(btn)

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if( btn ) {
            if ( document.body.scrollTop > 400 || document.documentElement.scrollTop > 400 ) {
                 btn.classList.add('show');
            } else {
                btn.classList.remove('show');
            }
        }
    }
</script>
</html>
