{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

<section class="Container Container--noGutter Container--fluid Container--spacing{{ section.settings.spacing_position }} FeaturedBlog FeaturedBlog--{{ section.settings.layout_mobile }}"
   id="Section--{{ section.id }}" data-section-id="{{ section.id }}">
   {%- if section.settings.heading != blank or section.settings.button_label != blank -%}
      <header class="SectionHeader Container Container--fluid SectionHeader--horizontal">
        <div class="SectionHeader__Text">
          {%- if section.settings.heading != blank -%}
              <h2 class="SectionHeader__Heading CustomSize {{ section.settings.heading_font_size }}">{{ section.settings.heading }}</h2>
          {%- endif -%}
        </div>

        {%- if section.settings.button_label != blank -%} 
          <div class="SectionHeader__Button"> 
            <a href="{{ section.settings.button_link }}" class="SectionHeader__Button Button Button--underline">{{ section.settings.button_label | escape }}</a>        
          </div>
        {%- endif -%}
      </header>
    {%- endif -%}

    {%- liquid
      assign show_placeholders = true 
      assign card_mobile_items_per_row = 1
      if section.settings.layout_mobile == 'horizontal'
        assign card_mobile_items_per_row = 1.136
      endif
    -%}

    <div class="SectionBody FeaturedBlog__Body">
      {%- for block in section.blocks -%}
     
        {%- case block.type -%}
          {%- when 'article' -%}
              <div class="Grid" {{ block.shopify_attributes }}>
              {%- liquid 
                assign item_count = 0
                for i in (1..4)
                  assign article_option = 'article_' | append: i
                  assign article = articles[block.settings[article_option]]

                  unless article == empty
                    assign item_count = item_count | plus: 1
                  endunless
                endfor 
              -%}

              {%- for i in (1..4) -%}
                {%- assign article_option = 'article_' | append: i -%}
                {%- assign article = articles[block.settings[article_option]] -%}

                {%- unless article == empty -%}
                  <div class="Grid__Item 1/{{ item_count }}--large">
                    {%- render 'article-card', block: block, card_desktop_items_per_row: item_count, card_mobile_items_per_row: card_mobile_items_per_row, article: article -%}
                  </div>

                  {%- assign show_placeholders = false -%}
                {%- endunless -%}
              {%- endfor -%}
            </div>

          {%- when 'blog' -%}
            <div class="Grid" {{ block.shopify_attributes }}>
              {%- liquid
                assign blog = block.settings.blog
                assign item_count = block.settings.grid_items_count
                if blog.articles.size < item_count
                  assign item_count = blog.articles.size
                endif 
              -%}

              {%- for article in blog.articles limit: item_count -%}
                <div class="Grid__Item 1/{{ item_count }}--large">
                  {%- render 'article-card', block: block, card_desktop_items_per_row: item_count, card_mobile_items_per_row: card_mobile_items_per_row, article: article -%}
                </div>

                {%- assign show_placeholders = false -%}
              {%- endfor -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}

      {%- if show_placeholders -%}
        <div class="Grid" {{ block.shopify_attributes }}>
          {%- for i in (1..3) -%}
            <div class="Grid__Item 1/3--medium-up">
              {%- render 'article-card-placeholder' -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Medium"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "Mobile layout",
      "options": [
        {
          "value": "stacked",
          "label": "Stacked"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "label": "Heading size",
      "options": [
        {
          "value": "HeadlineSmall",
          "label": "Small"
        },
        {
          "value": "HeadlineMedium",
          "label": "Medium"
        },
        {
          "value": "HeadlineLarge",
          "label": "Large"
        }
      ],
      "default": "HeadlineMedium"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "View all articles"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Article card"
    },
    {
      "type": "select",
      "id": "featured_image_size",
      "label": "Featured image ratio",
      "options": [
        {
          "value": "natural",
          "label": "Adapt to image"
        },
        {
          "value": "2x3",
          "label": "2:3"
        },
        {
          "value": "3x4",
          "label": "3:4"
        },
        {
          "value": "1x1",
          "label": "1:1"
        },
        {
          "value": "4x3",
          "label": "4:3"
        },
        {
          "value": "16x9",
          "label": "16:9"
        },
        {
          "value": "21x9",
          "label": "21:9"
        }
      ],
      "default": "natural"
    },
    {
      "type": "select",
      "id": "card_align",
      "label": "Card alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show read more label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Articles",
      "limit": 1,
      "settings": [
        {
          "type": "article",
          "id": "article_1",
          "label": "Article"
        },
        {
          "type": "article",
          "id": "article_2",
          "label": "Article"
        },
        {
          "type": "article",
          "id": "article_3",
          "label": "Article"
        },
        {
          "type": "article",
          "id": "article_4",
          "label": "Article"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "limit": 1,
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 2,
          "max": 4,
          "step": 1,
          "label": "Number of articles to show",
          "default": 3
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {
      },
      "blocks": [
        {
          "type": "blog",
          "settings": {
            "blog": "news"
          }
        }
      ]
    }
  ]
}
{% endschema %}