{{ 'component-product-blocks.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-product-variants.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'section-featured-product.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign product = section.settings.product

  assign show_sku = false
  assign show_payment_button = false 

  assign show_inventory_quantity = false
  assign inventory_quantity_threshold = 5

  for block in section.blocks
    case block.type
    when 'sku' 
        assign show_sku = true
    when 'buy_buttons'
        assign show_payment_button = block.settings.show_dynamic_checkout
    when 'quantity_selector'
        assign show_inventory_quantity = block.settings.show_inventory_quantity 
        assign inventory_quantity_threshold = block.settings.inventory_quantity_threshold 
    endcase 
  endfor
-%}

{%- capture section_settings -%}
{
  "enableHistoryState": false,
  "showInventoryQuantity": {{ show_inventory_quantity | json }},
  "showSku": {{ show_sku | json }},
  "inventoryQuantityThreshold": {{ inventory_quantity_threshold }},
  "showPaymentButton": {{ show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section-featured-product class="Container Container--noGutter Container--fluid Container--spacing{{ section.settings.spacing_position }} FeaturedProduct {% if product != empty %}{% unless product.featured_media %}FeaturedProduct--noMedia{% endunless %}{% endif %}" data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}'>

  {%- if section.settings.heading != blank -%}
    <header class="SectionHeader Container Container--fluid SectionHeader--horizontal">
      <div class="SectionHeader__Text">
        <h2 class="SectionHeader__Heading CustomSize {{ section.settings.heading_font_size }}">{{ section.settings.heading }}</h2>
      </div>
    </header>
  {%- endif -%}

  <div class="SectionBody FeaturedProduct__Body Grid">
    {%- if product != blank and product != empty -%}
      {%- if product.media.size > 0 -%}
        <div class="Grid__Item 1/2--medium-up">
          <a href="{{ product.url }}" class="FeaturedProduct__Gallery">

            <div class="Ratio" style="--tg-aspect-ratio: {{ product.featured_media.aspect_ratio | default: product.featured_media.preview_image.aspect_ratio }};">
              <img
                srcset="{%- if product.featured_media.width >= 375 -%}{{ product.featured_media | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if product.featured_media.width >= 550 -%}{{ product.featured_media | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if product.featured_media.width >= 750 -%}{{ product.featured_media | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if product.featured_media.width >= 1100 -%}{{ product.featured_media | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if product.featured_media.width >= 1500 -%}{{ product.featured_media | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if product.featured_media.width >= 1800 -%}{{ product.featured_media | image_url: width: 1800 }} 1800w,{%- endif -%}
                  {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"

                sizes="(min-width: 641px) calc(100vw / 2), 100vw"
                src="{{ product.featured_media | image_url: width: 1000 }}"
                loading="lazy"
                decoding="async"
                alt="{{ product.featured_media.alt | escape }}"
                width="{{ product.featured_media.width }}"
                height="{{ product.featured_media.height }}"
                class="Image--lazyLoad"
              >
              <span class="Image--loader"></span>

              <noscript>
                <img src="{{ product.featured_media | image_url: width: 600 }}"  loading="lazy"  width="{{ product.featured_media.width }}" height="{{ product.featured_media.height }}" alt="{{ product.featured_media.alt | escape }}">
              </noscript>
            </div>
          </a>
        </div>
      {%- endif -%}
      
      <div class="FeaturedProduct__Summary Grid__Item 1/2--medium-up">
        <div class="Container Container--spacingContainerGutter">
          {%- render 'product-blocks', product: product, product_from: 'featured-product' -%}

          <div class="FeaturedProduct__ViewMore">
            <a href="{{ product.url }}" class="Button Button--underline" aria-label="{{ 'sections.featured_product.view_product' | t }} {{ product.title | truncate: 50 | escape }}">{{ 'sections.featured_product.view_product' | t }}</a>
          </div>
        </div>
      </div>
    {%- else -%}
      <div class="FeaturedProduct__Gallery Grid__Item 1/2--medium-up">
        <div class="Ratio" style="--tg-aspect-ratio: 1;">
          {{- 'product-6' | placeholder_svg_tag: 'SvgPlaceholder' -}}
        </div>
      </div>

      <div class="FeaturedProduct__Summary Grid__Item 1/2--medium-up">
        <div class="Container Container--spacingContainerGutter">
          <div class="Product__Block">
            <h1 class="Product__Title">{{ 'sections.onboarding.product_title' | t }}</h1>

            <div class="Product__PriceList">
              <span class="Price">
                {%- if settings.price_currency_format == 'money' -%}
                  {{ 6800 | money }}
                {%- elsif settings.price_currency_format == 'money_with_currency' -%}
                  {{ 6800 | money_with_currency }}
                {%- elsif settings.price_currency_format == 'money_without_currency' -%}
                  {{ 6800 | money_without_currency }}
                {%- else -%}
                  {{ 6800 | money_without_trailing_zeros }}
                {%- endif -%}
              </span>
            </div>

            <div class="Product__ShortDescription RTE">
              {{ 'sections.onboarding.product_description' | t }}
            </div>
          </div>
        
          <div class="Product__Block">
            <button type="button" class="ProductForm__AddToCart Button Button--primary Button--full" disabled>
              <span>{{ 'product.form.sold_out' | t }}</span>
            </button>
          </div>

          <div class="FeaturedProduct__ViewMore">
            <a href="#" class="Button Button--underline">{{ 'sections.featured_product.view_product' | t }}</a>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>

</section-featured-product>

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Medium"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "label": "Heading size",
      "options": [
        {
          "value": "HeadlineSmall",
          "label": "Small"
        },
        {
          "value": "HeadlineMedium",
          "label": "Medium"
        },
        {
          "value": "HeadlineLarge",
          "label": "Large"
        }
      ],
      "default": "HeadlineMedium"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineMedium",
          "label": "Title size"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#featured-product-rating)"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Price"
        },
        {
          "type": "select",
          "id": "price_size",
          "options": [
            {
              "value": "BodyMedium",
              "label": "Small"
            },
            {
              "value": "BodyLarge",
              "label": "Medium"
            },
            {
              "value": "TitleLarge",
              "label": "Large"
            }
          ],
          "default": "BodyMedium",
          "label": "Size"
        },
        {
          "type": "color",
          "id": "price_color",
          "label": "Color"
        },
        {
          "type": "color",
          "id": "sale_price_color",
          "label": "Sale color"
        },
        {
          "type": "checkbox",
          "id": "bold_font",
          "label": "Bold font",
          "default": false
        },
        {
          "type": "header",
          "content": "Taxes notice"
        },
        {
          "type": "checkbox",
          "id": "show_taxes_included",
          "label": "Show price taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "Show inventory quantity",
          "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
          "default": false
        },
        {
          "type": "range",
          "id": "inventory_quantity_threshold",
          "label": "Inventory quantity threshold",
          "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "block",
              "label": "Button"
            },
            {
              "value": "color_swatch_dropdown",
              "label": "Color swatch and dropdown"
            },
            {
              "value": "color_image_swatch_dropdown",
              "label": "Color image swatch and dropdown"
            },
            {
              "value": "color_swatch_button",
              "label": "Color swatch and button"
            },
            {
              "value": "color_image_swatch_button",
              "label": "Color image swatch and button"
            }
          ],
          "default": "block",
          "label": "Picker type"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        {
          "type": "checkbox",
          "id": "show_pickup_availability",
          "label": "Show local pickup availability",
          "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "BodySmall",
              "label": "Small"
            },
            {
              "value": "BodyMedium",
              "label": "Medium"
            },
            {
              "value": "BodyLarge",
              "label": "Large"
            }
          ],
          "default": "BodySmall",
          "label": "Text size"
        }
      ]
    },
    {
      "type": "short_description",
      "name": "Short description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Text"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/en/manual/online-store/images/showing-social-media-thumbnail-images)."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/en/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "share"
        }
      ]
    }
  ]
}
{% endschema %}