{{ 'site-footer.css' | asset_url | stylesheet_tag }}

<footer class="Footer {% unless section.blocks.size > 0 %}Footer--withNoMainContent{% endunless %}"
style="{% if section.settings.background_color != blank and section.settings.background_color != 'rgba(0,0,0,0)' %}--tg-footer-background: {{ section.settings.background_color }};{% endif %}
 {% if section.settings.text_color != blank and section.settings.text_color != 'rgba(0,0,0,0)' %}--tg-footer-text-color: {{ section.settings.text_color }};{% endif %}">
  <div class="Container {% if section.settings.footer_width == 'full_width' %}Container--fluid{% elsif section.settings.footer_width ==  'narrow' %}Container--narrow{% endif %}">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Main">
        <div class="FooterBlocks">
          
          {%- for block in section.blocks -%}
              <div class="FooterBlock FooterBlock--{{ block.type }}" {{ block.shopify_attributes }}>
                {%- case block.type -%}
                      {%- when 'text' -%}
                        <h3 class="FooterBlock__Title">
                          {%- if block.settings.logo != blank -%}
                              {%- assign image_size = block.settings.logo_max_width -%}
                              {%- assign image_size_2x = block.settings.logo_max_width | times: 2 | at_most: 5760 -%}

                              <style>
                                {%- if block.settings.logo -%}
                                  @media screen and (max-width: 640px) {
                                    .Footer__LogoImage {
                                      max-width: {{ block.settings.mobile_logo_max_width }}px;
                                      height: auto;
                                    }
                                  }
                                  @media screen and (min-width: 641px) {
                                    .Footer__LogoImage {
                                      max-width: {{ block.settings.logo_max_width }}px;
                                      height: auto;
                                    }
                                  }
                                {%- endif -%}
                              </style>

                              <img class="Footer__LogoImage"
                                  src="{{ block.settings.logo | image_url: width: image_size }}"
                                  srcset="{{ block.settings.logo | image_url: width: image_size }} 1x, {{ block.settings.logo | image_url: width: image_size_2x }} 2x"

                                  alt="{{ block.settings.logo.alt | default: shop.name | escape }}"
                                  loading="lazy"
                                  decoding="async"
                                  width="{{ block.settings.logo.width }}"
                                  height="{{ block.settings.logo.height }}"
                                >
                          {%- elsif block.settings.heading != blank -%}  
                              {{ block.settings.heading | escape }}
                          {%- endif -%}
                        </h3>
                      
                        {%- if block.settings.content != blank -%}
                            <div class="FooterBlock__Content RTE">
                            {{ block.settings.content }}
                            </div>
                        {%- endif -%}

                        {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                          <div class="FooterBlock__FollowOnShop">
                            {{ shop | login_button: action: 'follow' }}
                          </div>
                        {%- endif -%}

                        {%- if block.settings.show_social_media -%}
                            {% render 'social-media', class: 'Footer__Social' %}
                        {%- endif -%}

                    {%- when 'links' -%}
                        {%- assign linklist = linklists[block.settings.menu] -%}

                        {%- if linklist != empty -%}
                          <h3 class="FooterBlock__Title">
                            {%- if block.settings.heading != blank -%}
                                {{ block.settings.heading | escape }}
                            {%- else -%}
                                {{ linklist.title | escape }} 
                            {%- endif -%}
                          </h3>
                          <ul class="Nav Nav--vertical">
                            {%- for link in linklist.links -%}
                                <li>
                                    <a href="{{ link.url }}" class="Nav__Link">{{ link.title | escape }}</a>
                                </li>
                            {%- endfor -%}
                            </ul> 
                          {%- endif -%}
                        {%- when 'newsletter' -%}
                          {%- if block.settings.heading != blank -%}
                            <h4 class="FooterBlock__Title">{{ block.settings.heading | escape }}</h4>
                          {%- endif -%}

                          {%- if block.settings.content != blank -%}
                            <div class="FooterBlock__Content RTE">
                              {{ block.settings.content }}
                            </div>
                          {%- endif -%}

                          {%- form 'customer', id: 'FooterNewsletter', class: 'Footer__Newsletter Form' -%}
                            {%- if form.posted_successfully? -%}
                              <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                            {%- else -%}
                              {%- if form.errors -%}
                                <p class="Form__Alert Alert Alert--danger">{{ form.errors.messages['email'] }}</p>
                              {%- endif -%}

                              <input type="hidden" name="contact[tags]" value="newsletter">
                              <div class="Form__InputGroup">
                                <input id="FooterNewsletterFormEmail--{{ section.id }}-{{ block.id }}" type="email" name="contact[email]" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" title="{{ 'general.meta.email_format' | t }}" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                                <label class="VisuallyHidden" for="FooterNewsletterFormEmail--{{ section.id }}-{{ block.id }}">{{ 'footer.newsletter.input' | t }}</label>
                                <button type="submit" class="Button Button--outline Form__Submit">{{ 'footer.newsletter.submit' | t }}</button>
                              </div>
                            {%- endif -%}
                          {%- endform -%}
                  {%- endcase -%}
              </div>
          {%- endfor -%}
          
        </div>
      </div>
    {%- endif -%}
    <div class="Footer__Bottom">
      {%- if shop.enabled_payment_types.size > 0 and section.settings.show_payment_methods -%}
          <div class="Footer__Payments">
              <ul class="List List--unstyle List--inline List--icons">
                  {%- for type in shop.enabled_payment_types -%}
                      <li class="List__Item">{{ type | payment_type_svg_tag }}</li>
                  {%- endfor -%}
              </ul>
          </div>
      {%- endif -%}

      {%- liquid
        if section.settings.enable_country_selector and localization.available_countries.size > 1
          assign country_selector = true
        endif
  
        if section.settings.enable_language_selector and localization.available_languages.size > 1
          assign language_selector = true
        endif 
      -%}
      {%- if country_selector or language_selector -%}
        <div class="Footer__Localization">
          {%- render 'localization-selector', country_selector: country_selector, language_selector: language_selector -%}
        </div>
      {%- endif -%}

      <div class="Footer__Copyright">
          <a href="{{ routes.root_url }}" class="Footer__StoreName">© {{ shop.name }}</a>
          <p class="Footer__ThemeAuthor">{{ powered_by_link }}</p>
      </div>
    </div>

  </div><!-- container -->

</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "select",
      "id": "footer_width",
      "label": "Footer width",
      "options": [
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "default",
          "label": "Grid"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "narrow"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#1C1B1B"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fbfbfb"
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [market settings.](/admin/settings/markets)."
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "Enable country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)."
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Store information",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading",
          "info": "Visible when the ‘Logo image’ setting is blank."
        },
        {
          "type": "header",
          "content": "Logo"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Image",
          "info": "120 x 80px .png recommended."
        },
        {
          "type": "range",
          "id": "logo_max_width",
          "min": 50,
          "max": 350,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 120
        },
        {
          "type": "range",
          "id": "mobile_logo_max_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Mobile image width",
          "default": 90
        },
        {
          "type": "header",
          "content": "Description"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>"
        },
        {
          "type": "header",
          "content": "Follow on shop",
          "info": "Display follow button for your storefront on the Shop app. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "default": true,
          "label": "Enable Follow on Shop"
        },
        {
          "type": "header",
          "content": "Social media"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media icons",
          "info": "Make sure you have properly configured your social media in the ‘Theme settings’.",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SUBSCRIBE TO OUR EMAILS"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing.</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {
        }
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}