{{ 'section-icon-boxes.css' | asset_url | stylesheet_tag }}

<section class="Container Container--noGutter Container--fluid Container--spacing{{ section.settings.spacing_position }} IconBoxes" data-section-id="{{ section.id }}" data-section-settings=''>
    {%- if section.settings.heading != blank -%}
      <header class="SectionHeader Container Container--fluid SectionHeader--horizontal">
        <div class="SectionHeader__Text">
          <h2 class="SectionHeader__Heading CustomSize {{ section.settings.heading_font_size }}">{{ section.settings.heading }}</h2>
        </div>
      </header>
    {%- endif -%}

    <div class="IconBoxes__Body" style="--tg-icon-box-icon-with:{{ section.settings.icon_width }}px;">
      <div class="Grid">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'icon_box' -%}
              <div class="Grid__Item 1/{{ section.settings.grid_mobile_items_per_row }}--small 1/{{ section.settings.grid_desktop_items_per_row }}--medium-up" {{ block.shopify_attributes }}>
                  <div class="IconBox{% if section.settings.icon_position == 'left' %} IconBox--aside{% else %} IconBox--center{% endif %}">
                    {%- if block.settings.image != blank -%}
                      <div class="IconBox__Icon IconBox__Icon--image Ratio" style="--tg-aspect-ratio: {{ block.settings.image.aspect_ratio }}" >
                        {%- assign image_width = section.settings.icon_width | times: 2 -%}
                        {{ block.settings.image | image_url: width: image_width | image_tag:
                            loading: 'lazy',
                            decoding: 'async',
                            class: 'IconBox__Image'
                        }}
                      </div>
                    {%- else -%}
                      <div class="IconBox__Icon IconBox__Icon--image Ratio" style="--tg-aspect-ratio: 1;">
                        {{ 'image' | placeholder_svg_tag: 'IconBox__Image SvgPlaceholder' }}
                      </div>
                    {%- endif -%}
                    <div class="IconBox__Text">
                      {%- if block.settings.heading != blank -%}
                        <h3 class="IconBox__Title">{{ block.settings.heading }}</h3>
                      {%- endif -%}
                      {%- if block.settings.content != blank -%}
                        <div class="IconBox__Content RTE">{{ block.settings.content }}</div>
                      {%- endif -%}
                    </div>
                  </div>
              </div>
          {%- endcase -%}
        {%- else -%} 
          {%- for i in (1..section.settings.grid_desktop_items_per_row) -%}
            <div class="Grid__Item 1/{{ section.settings.grid_mobile_items_per_row }}--small 1/{{ section.settings.grid_desktop_items_per_row }}--medium-up">
                <div class="IconBox{% if section.settings.icon_position == 'left' %} IconBox--aside{% else %} IconBox--center{% endif %}">
                  <div class="IconBox__Icon IconBox__Icon--image Ratio" style="--tg-aspect-ratio: 1;">
                    {{ 'image' | placeholder_svg_tag: 'IconBox__Image SvgPlaceholder' }}
                  </div>
                  <div class="IconBox__Text">
                    <h3 class="IconBox__Title">{{ 'sections.onboarding.block_title' | t }}</h3>
                    <div class="IconBox__Content"><p>{{ 'sections.onboarding.block_content' | t }}</p></div>
                  </div>
                </div>
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Icon boxes",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Medium"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "label": "Heading size",
      "options": [
        {
          "value": "HeadlineSmall",
          "label": "Small"
        },
        {
          "value": "HeadlineMedium",
          "label": "Medium"
        },
        {
          "value": "HeadlineLarge",
          "label": "Large"
        }
      ],
      "default": "HeadlineMedium"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "min": 2,
      "max": 6,
      "step": 1,
      "id": "grid_desktop_items_per_row",
      "label": "Number of columns on desktop",
      "default": 4
    },
    {
      "type": "select",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "id": "grid_mobile_items_per_row",
      "label": "Number of columns on mobile",
      "default": "2"
    },
    {
      "type": "header",
      "content": "Card"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Image position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "top"
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 80,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Image width",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "icon_box",
      "name": "Icon box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Description</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon boxes",
      "settings": {
      },
      "blocks": [
        {
          "type": "icon_box"
        },
        {
          "type": "icon_box"
        },
        {
          "type": "icon_box"
        },
        {
          "type": "icon_box"
        }
      ]
    }
  ]
}
{% endschema %}