{{ 'section-logo-text.css' | asset_url | stylesheet_tag }}

<section class="Container Container--noGutter Container--fluid Container--spacing{{ section.settings.spacing_position }} logoText logoText--{{ section.settings.content_align }}" 
 data-section-id="{{ section.id }}">
  <div class="Container Container--fluid Container--spacingMediumPadding">
    <header class="SectionHeader">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'letter' -%}
            {% comment %} <h2 class="SectionHeader__Letter CustomSize {{ block.settings.letter_positon }}">{{ block.settings.letter }}</h2> {% endcomment %}
            <div class="text_image {{ block.settings.letter_positon }}">
                <img 
                    src="{{ block.settings.letter_image | image_url: width: 100 }}"
                    loading="lazy"
                    alt=""/>
               </div>
          {%- when 'image' -%}
            <div class="logo_image">
                <img 
                    src="{{ block.settings.image | image_url: width: 400 }}"
                    loading="lazy"
                    alt=""/>
            </div>
          {%- when 'heading' -%}
            <h2 class="SectionHeader__Heading CustomSize {{ block.settings.heading_font_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
          {%- when 'description' -%}
            <div class="SectionHeader__Description RTE" {{ block.shopify_attributes }}>
             {{ block.settings.text }}
            </div>

        {%- endcase -%}
      {%- endfor -%}
    </header>
  </div>
</section>

{% schema %}
{
  "name": "Logo text",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Medium"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "letter",
      "name": "Letter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "letter",
          "label": "Letter",
          "default": "Letter"
        },
        {
          "type": "image_picker",
          "id": "letter_image",
          "label": "Image",
          "info": "800 x 600px .png recommended."
        },
        {
          "type": "select",
          "id": "letter_positon",
          "label": "Letter positon",
          "options": [
            {
              "value": "letter_left",
              "label": "left"
            },
            {
              "value": "letter_center",
              "label": "center"
            },
            {
              "value": "letter_right",
              "label": "right"
            }
          ],
          "default": "letter_center"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 600px .png recommended."
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Talk about your brand"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo text",
      "blocks": [
        {
          "type": "letter"
        },
        {
          "type": "image"
        },
        {
          "type": "heading"
        },
          {
          "type": "description"
        }
      ]
    }
  ]
}
{% endschema %}