{%- render 'page-header' -%}
{%- render 'order-header' -%}

{{ 'component-widget.css' | asset_url | stylesheet_tag }}

<section class="Account Container--spacing{{ section.settings.spacing_position }}">
    <div class="Grid"> 
      <div class="Grid__Item 2/3--large Account__Orders">
        {%- if customer.orders.size == 0 -%}
          <div class="Widget">
            <h2 class="Widget__Title LabelLarge">{{ 'customer.account.no_orders_title' | t }}</h2>

            <div class="Widget__Content">
              <p>{{ 'customer.account.no_orders_content' | t }}</p>
            </div>
          </div>
        {%- else -%}
          {%- paginate customer.orders by 25 -%}
            <div class="TableWrapper">
              <table class="Table Table--hover">
                <thead>
                  <tr>
                    <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                    <th scope="col">{{ 'customer.orders.date' | t }}</th>
                    <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                    <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                    <th scope="col" class="TextEnd">{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>

                <tbody>
                  {%- for order in customer.orders -%}
                    <tr>
                      <td><a href="{{ order.customer_url }}" class="Nav__Link Nav__Link--underline">{{ order.name }}</a></td>
                      <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                      <td>{{ order.financial_status_label }}</td>
                      <td>{{ order.fulfillment_status_label }}</td>
                      <td class="TextEnd">{{ order.total_price | money_with_currency }}</td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            </div>

            {%- render 'pagination', paginate: paginate -%}
          {%- endpaginate -%}
        {%- endif -%}
      </div>

      <div class="Grid__Item 1/3--large Account__Addresses">
        <div class="Widget">
          {%- if customer.addresses_count == 0 -%}
            <h2 class="Widget__Title LabelLarge">{{ 'customer.account.no_addresses_title' | t }}</h2>

            <div class="Widget__Content">
              <p>{{ 'customer.account.no_addresses_content' | t }}</p>

              <div class="Widget__ButtonWrapper">
                <a href="{{ routes.account_addresses_url }}" class="Button Button--underline">{{ 'customer.account.manage_addresses' | t }}</a>
              </div>
            </div>
          {%- else -%}
            <h2 class="Widget__Title LabelLarge">{{ 'customer.account.default_address' | t }}</h2>

            <div class="Widget__Content">
              {{ customer.default_address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
              <div class="Widget__ButtonWrapper">
                <a href="{{ routes.account_addresses_url }}" class="Button Button--underline">{{ 'customer.account.edit_addresses' | t }}</a>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Account page",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Bottom"
    }
  ]
}
{% endschema %}