{%- liquid
  assign products_sort_by = search.sort_by | default: search.default_sort_by
  assign desktop_items_per_row =  section.settings.grid_desktop_items_per_row | times: 1
  assign mobile_items_per_row  =  section.settings.grid_mobile_items_per_row | times: 1 

  assign card_desktop_items_per_row = desktop_items_per_row
  if section.settings.filter_type == 'vertical'
      assign card_desktop_items_per_row = card_desktop_items_per_row | plus: 1
  endif
-%}

{%- capture section_settings -%}
{
  "url": {{ routes.search_url | json }},
  "sortBy": {{ search.sort_by | default: search.default_sort_by | json }}
}
{%- endcapture -%}

<style type="text/css">
  section-search{
    display: block;
  }
</style>

{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-collection-toolbar.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  <script src="{{ 'component-quick-add-to-cart-button.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- render 'page-header' -%}

<div class="SearchFormWrapper Container Container--fluid">
  <form method="GET" action="{{ routes.search_url }}" class=" SearchForm Form">
    <input id="SearchHeaderFormQueryString" class="Form__Input" type="text" name="q" {% if search.performed %}value="{{ search.terms | replace: '*', '' }}"{% endif %} autocomplete="off" autocorrect="off" aria-label="{{ 'search.general.input_placeholder' | t }}" placeholder="{{ 'search.general.input_placeholder' | t }}">
    <label class="VisuallyHidden" for="SearchHeaderFormQueryString">{{ 'search.general.input_placeholder' | t }}</label>
    <input type="hidden" name="options[prefix]" value="last">
    <button type="submit" class="Button Button--primary Form__Submit Button--small">{{ 'search.general.title' | t }}</button>
  </form>
</div>

<section-search class="" data-section-id="search" data-section-settings='{{ section_settings }}'>
  {%- if search.results_count == 0 and search.filters.size < 1 -%}
    <div class="FilterProducts FilterProducts__Content">
      <div class="EmptyResult Container">
        <h2 class="EmptyResult__Title">
          {{ 'search.general.no_results_with_terms' | t: terms: search.terms }}
        </h2>
      </div>
    </div>
  {%- else -%}
    <div class="SearchResults FilterProducts">

      {%- if section.settings.enable_sorting or section.settings.enable_filtering -%}
        {%- if section.settings.filter_type == 'vertical' -%}
          {%- render 'collection-aside', block: block, show_filter_color_swatch: section.settings.show_filter_color_swatch, enable_sorting: section.settings.enable_sorting, enable_filtering: section.settings.enable_filtering -%}
        {%- endif -%}
      {%- endif -%}

        <div class="SearchResults__Content FilterProducts__Content">
          <div class="{% if section.settings.filter_type == 'vertical' %}HiddenLarge {% endif %}CollectionToolBar Container Container--fluid">
            {%- if section.settings.enable_sorting or section.settings.enable_filtering -%}
              <button class="Button Button--text CollectionToolBar__FilterButton no-js-hidden"
                data-tg-toggle="Drawer" data-tg-target="#FilterProductsDrawer"
                aria-label="{{ 'collection.filter.show_filter' | t }}"
                type="button">
                {% render 'icons', icon: 'sliders' %}<span style="padding-left: 4px;">{{ 'collection.filter.title' | t }}</span>
              </button>
            {%- endif -%}

            {%- assign products_results_count = search.results_count -%}
            {%- if template.name == 'collection' -%}
                {%- assign products_results_count = collection.products_count -%}
            {%- endif -%}
            <div class="CollectionToolBar__ResultCount" data-items-count="{{ products_results_count }}" >
              {{ 'collection.general.product_count' | t: count: products_results_count }}
            </div>
          </div>
          
          {%- paginate search.results by section.settings.grid_items_per_page -%}
            <div class="Grid">
              {%- for result in search.results -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <div class="Grid__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up">
                  {%- case result.object_type -%}
                    {%- when 'product' -%}
                      {% render 'product-card', product: result, lazy_load: lazy_load, card_desktop_items_per_row: card_desktop_items_per_row, card_mobile_items_per_row: mobile_items_per_row, show_rating: section.settings.show_rating, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_swatches: section.settings.show_swatches, show_quick_add: section.settings.enable_quick_add %}
                    {%- when 'article' -%}
                      {%- render 'article-card-search', article: result, card_desktop_items_per_row: card_desktop_items_per_row, card_mobile_items_per_row: mobile_items_per_row -%}
                    {%- when 'page' -%}
                      {%- render 'article-card-search', article: result, card_desktop_items_per_row: card_desktop_items_per_row, card_mobile_items_per_row: mobile_items_per_row -%}
                  {%- endcase -%}
                </div>
              {% else %}
                <div class="EmptyResult Container">
                  <h1 class="EmptyResult__Title">{{ 'search.general.no_results' | t }}</h1>
                  {%- if search.filters.size > 0 -%}
                    <a href="{{ routes.search_url }}?sort_by={{ products_sort_by }}&options[prefix]=last&q={{ search.terms }}" class="EmptyResult__Action Button Button--primary" data-tg-action="reset-tags">{{ 'collection.general.reset' | t }}</a>
                  {%- else -%}
                    <a href="{{ routes.all_products_collection_url }}" class="Button Button--primary">{{ 'general.continue_shopping' | t }}</a>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
            {%- render 'pagination', paginate: paginate -%}
          {%- endpaginate -%}
          
        </div>

    </div>

    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      {%- render 'filters-drawer', show_filter_color_swatch: section.settings.show_filter_color_swatch, enable_sorting: section.settings.enable_sorting, enable_filtering: section.settings.enable_filtering -%}
    {%- endif -%}

  {%- endif -%}
</section-search>

<script src="{{ 'component-filter-product.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'section-search.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Search page",
  "settings": [
    {
      "type": "header",
      "content": "Fitlers and Sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "Enable filtering",
      "info": "Customize filters with the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/filters)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_color_swatch",
      "label": "Show filter color swatch",
      "info": "Visible when the ‘Enable filtering’ setting is checked.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "vertical",
      "label": "Desktop filter layout",
      "info": "Drawer is the default mobile layout."
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "grid_items_per_page",
      "label": "Products per page",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "min": 2,
      "max": 6,
      "step": 1,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    },
    {
      "type": "select",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "default": "2"
    },
    {
      "type": "header",
      "content": "Product Card"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "Show product rating",
      "default": false,
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#featured-collection-show-product-rating)."
    },
    {
      "type": "checkbox",
      "id": "show_swatches",
      "label": "Show swatch",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "Enable quick add button"
    }
  ]
}
{% endschema %}