{%- render 'page-header' -%}

<div class="Page Container--spacing{{ section.settings.spacing_position }}">
    <div class="PageLeft PageLeft--borderBottom">
      <div class="PageLeft__Inner">
        <section class="Container Container--fluid Container--fitScreen Container--spacingMediumPadding">
            {%- form 'reset_customer_password', name: 'activate', class: 'Form Form--resetPassword', id: 'reset_customer_password' -%}
                {%- if form.errors -%}
                    <div class="Form__Alert Alert Alert--danger">
                        <ul class="List List--unstyle">
                            {%- for field in form.errors -%}
                                {%- if field == 'form' -%}
                                    <li>{{ form.errors.messages[field] }}</li>
                                {%- else -%}
                                    <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                {%- endif -%}
        
                <div class="Form__Item Form__Item--floatingLabel">
                    <input id="ResetCustomerPasswordFormPassword--{{ section.id }}" type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.reset_password.password' | t }}" placeholder="{{ 'customer.reset_password.password' | t }}" autofocus>
                    <label for="ResetCustomerPasswordFormPassword--{{ section.id }}">{{ 'customer.reset_password.password' | t }}</label>
                </div>
        
                <div class="Form__Item Form__Item--floatingLabel">
                    <input id="ResetCustomerPasswordFormPasswordConfirmation--{{ section.id }}" type="password" class="Form__Input" name="customer[password_confirmation]" aria-label="{{ 'customer.reset_password.password_confirmation' | t }}" placeholder="{{ 'customer.reset_password.password_confirmation' | t }}">
                    <label for="ResetCustomerPasswordFormPasswordConfirmation--{{ section.id }}">{{ 'customer.reset_password.password_confirmation' | t }}</label>
                </div>
        
                <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.reset_password.submit' | t }}</button> 
            {%- endform -%}
        </section>
      </div>
    </div>
    {%- if section.settings.image != blank -%}
        <div class="PageRight Container Container--fluid Container--spacingMediumPadding">
          <div class="PageRight__Inner">
            {%- assign section_image = section.settings.image -%}
            <div class="Ratio" style="--tg-aspect-ratio: {{ section_image.aspect_ratio }};">
                <img class="Page__Image"
                  srcset="{%- if section_image.width >= 360 -%}{{ section_image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section_image.width >= 535 -%}{{ section_image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section_image.width >= 750 -%}{{ section_image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section_image.width >= 1070 -%}{{ section_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section_image.width >= 1500 -%}{{ section_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section_image | image_url }} {{ section_image.width }}w"
                  src="{{ section_image | image_url: width: 1500 }}"
                  sizes="(min-width: 1008px) calc(100vw / 2), 100vw"
                  alt="{{ section_image.alt | escape }}"
                  loading="lazy"
                  decoding="async"
                  width="{{ section_image.width }}"
                  height="{{ section_image.height }}">
    
              <noscript>
                <img src="{{ section_image | image_url: width: 800 }}" loading="lazy" height="{{ section_image.height }}" width="{{ section_image.width }}" alt="{{ section_image.alt | escape }}">
              </noscript>
            </div>
          </div>
          
        </div>
    {%- endif -%}
</div>

{% schema %}
{
  "name": "Reset password page",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Bottom"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}