{%- liquid
  assign show_sku = false
  assign show_dynamic_checkout = false
  assign show_inventory_quantity = false
  assign inventory_quantity_threshold = 5
  assign recommendations_related_count = 0
  assign recommendations_complementary_count = 0

  for block in section.blocks
    case block.type
      when 'sku'
        assign show_sku = true
      when 'buy_buttons'
        assign gift_card_recipient_feature_active = false
        if block.settings.show_gift_card_recipient and product.gift_card?
            assign gift_card_recipient_feature_active = true
        endif

        assign show_dynamic_checkout = false
        if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
            assign show_dynamic_checkout = true
        endif

      when 'quantity_selector'
        assign show_inventory_quantity = block.settings.show_inventory_quantity
        assign inventory_quantity_threshold = block.settings.inventory_quantity_threshold
      when 'product_recom_related'
        assign recommendations_related_count = block.settings.grid_items_count
      when 'complementary_products'
        assign recommendations_complementary_count = block.settings.grid_items_count
    endcase
  endfor 
-%}

{%- capture section_settings -%} 
{
  "productId": {{ product.id | json }},
  "enableHistoryState": true,
  "enableImageZoom": {{ section.settings.enable_image_zoom | json }},
  "galleryDesign": {{ section.settings.gallery_design | json }},
  "recommendationsRelatedCount": {{ recommendations_related_count | json }},
  "recommendationsComplementaryCount": {{ recommendations_complementary_count | json }},

  "showSku": {{ show_sku | json }},
  "showPaymentButton": {{ show_dynamic_checkout | json }},

  "showInventoryQuantity": {{ show_inventory_quantity | json }},
  "inventoryQuantityThreshold": {{ inventory_quantity_threshold }},
  "initCurrentVariantImageId": {{ product.selected_or_first_available_variant.featured_media.id | json }},

  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

{%- render 'page-header' -%}

{{ 'component-product-blocks.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-product-variants.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'section-product.js' | asset_url }}" defer="defer"></script>

<section-product style="display: block;" class="Product Container--spacing{{ section.settings.spacing_position }}" data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}'>
  <div class="ProductDesign Grid">
      {%- if product.media.size > 0 -%}
          <div class="Grid__Item 8/12--large">
              {%- render 'product-gallery' -%}
          </div>
      {%- endif -%}

      <div class="Grid__Item {% if product.media.size > 0 %}4/12--large{% endif %} ProductSummary__Wrapper">
        <div class="ProductSummary">
          {%- render 'product-blocks', product_from: 'main-product' -%}
        </div>
      </div>
  </div>
</section-product>

{%- if section.settings.enable_image_zoom -%}
  {%- render 'product-media' -%}
{%- endif -%}

{% schema %}
{
  "name": "Product information",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Bottom"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types.](https://help.shopify.com/manual/products/product-media)."
    },
    {
      "type": "select",
      "id": "gallery_media_size",
      "label": "Image ratio",
      "options": [
        {
          "value": "natural",
          "label": "Adapt to image"
        },
        {
          "value": "2x3",
          "label": "2:3"
        },
        {
          "value": "3x4",
          "label": "3:4"
        },
        {
          "value": "1x1",
          "label": "1:1"
        },
        {
          "value": "4x3",
          "label": "4:3"
        },
        {
          "value": "16x9",
          "label": "16:9"
        },
        {
          "value": "21x9",
          "label": "21:9"
        }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "gallery_media_fit_cover",
      "label": "Image fit container",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable zoom",
      "default": true
    },
    {
      "type": "select",
      "id": "gallery_design",
      "label": "Desktop layout",
      "info": "Media is automatically optimized for mobile.",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "stack_images",
          "label": "Stack images"
        },
        {
          "value": "stack_carousel",
          "label": "Stack desktop and Carousel mobile"
        }
      ],
      "default": "stack_images"
    },
    {
      "type": "checkbox",
      "id": "media_centered",
      "label": "Media centered",
      "default": false,
      "info": "Visible when the ‘Desktop layout’ setting is set to Carousel and product media size is greater than two."
    },
    {
      "type": "range",
      "id": "media_with",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop media width",
      "default": 80,
      "info": "Visible when the ‘Desktop layout’ setting is set to Carousel."
    },
    {
      "type": "range",
      "id": "media_with_mobile",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile media width",
      "default": 100,
      "info": "Visible when the ‘Desktop layout’ setting is set to Carousel."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineMedium",
          "label": "Title size"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "BodySmall",
              "label": "Body Small"
            },
            {
              "value": "BodyMedium",
              "label": "Body Medium"
            },
            {
              "value": "BodyLarge",
              "label": "Body Large"
            },
            {
              "value": "TitleSmall",
              "label": "Title Small"
            },
            {
              "value": "TitleMedium",
              "label": "Title Medium"
            },
            {
              "value": "TitleLarge",
              "label": "Title Large"
            },
            {
              "value": "HeadlineSmall",
              "label": "HeadLine Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "HeadLine Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "HeadLine Large"
            }
          ],
          "default": "BodyMedium",
          "label": "Text size"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#featured-product-rating)"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Price"
        },
        {
          "type": "select",
          "id": "price_size",
          "options": [
            {
              "value": "BodyMedium",
              "label": "Small"
            },
            {
              "value": "BodyLarge",
              "label": "Medium"
            },
            {
              "value": "TitleLarge",
              "label": "Large"
            }
          ],
          "default": "BodyMedium",
          "label": "Size"
        },
        {
          "type": "color",
          "id": "price_color",
          "label": "Color"
        },
        {
          "type": "color",
          "id": "sale_price_color",
          "label": "Sale color"
        },
        {
          "type": "checkbox",
          "id": "bold_font",
          "label": "Bold font",
          "default": false
        },
        {
          "type": "header",
          "content": "Taxes notice"
        },
        {
          "type": "checkbox",
          "id": "show_taxes_included",
          "label": "Show price taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "block",
              "label": "Button"
            },
            {
              "value": "color_swatch_dropdown",
              "label": "Color swatch and dropdown"
            },
            {
              "value": "color_image_swatch_dropdown",
              "label": "Color image swatch and dropdown"
            },
            {
              "value": "color_swatch_button",
              "label": "Color swatch and button"
            },
            {
              "value": "color_image_swatch_button",
              "label": "Color image swatch and button"
            }
          ],
          "default": "block",
          "label": "Picker type"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "Show inventory quantity",
          "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
          "default": false
        },
        {
          "type": "range",
          "id": "inventory_quantity_threshold",
          "label": "Inventory quantity threshold",
          "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)."
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "Show recipient information form for gift card products",
          "info": "Gift card products can optionally be sent direct to a recipient along with a personal message. [Learn more](https://help.shopify.com/en/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)."
        },
        {
          "type": "checkbox",
          "id": "show_pickup_availability",
          "label": "Show local pickup availability",
          "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers).",
          "default": true
        }
      ]
    },
    {
      "type": "short_description",
      "name": "Short description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "info": "[Learn how to](https://themegoal.com/products/using-metafield-for-short-description) add metafield content to short description."
        }
      ]
    },
    {
      "type": "description",
      "name": "Description drawer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Description",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "description_collapsible",
      "name": "Description collapsible",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Description",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "open_collapsible_tab",
          "default": true,
          "label": "Open collapsible tab"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/en/manual/online-store/images/showing-social-media-thumbnail-images)."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/en/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)."
        }
      ]
    },
    {
      "type": "trust_badges",
      "name": "Trust badges",
      "settings": [
        {
          "type": "image_picker",
          "id": "trust_badges_img",
          "label": "Trust badges image"
        }
      ]
    },
    {
      "type": "drawer_info",
      "name": "Drawer tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Drawer row",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Show at top of the drawer."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Drawer content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Drawer content from page"
        }
      ]
    },
    {
      "type": "collapsible_info",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Collapsible content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Collapsible content from page"
        },
        {
          "type": "checkbox",
          "id": "open_collapsible_tab",
          "default": false,
          "label": "Open collapsible tab"
        }
      ]
    },
    {
      "type": "style_with",
      "name": "Product list",
      "settings": [
        {
          "type": "header",
          "content": "Section header"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Product list"
        },
        {
          "type": "select",
          "id": "heading_font_size",
          "label": "Heading size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineSmall"
        },
        {
          "type": "header",
          "content": "Products"
        },
        {
          "type": "checkbox",
          "id": "show_product_info",
          "label": "Show product info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show product rating",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_swatches",
          "label": "Show color swatch",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "default": false,
          "label": "Enable quick add button"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit": 12
        }
      ]
    },
    {
      "type": "product_recom_related",
      "name": "Related products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)"
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 1,
          "max": 24,
          "step": 1,
          "label": "Maximum products to show",
          "default": 8
        },
        {
          "type": "header",
          "content": "Section header"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "You may also like"
        },
        {
          "type": "select",
          "id": "heading_font_size",
          "label": "Heading size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineSmall"
        }
      ]
    },
    {
      "type": "complementary_products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)"
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 1,
          "max": 24,
          "step": 1,
          "label": "Maximum products to show",
          "default": 8
        },
        {
          "type": "header",
          "content": "Section header"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Pairs well with"
        },
        {
          "type": "select",
          "id": "heading_font_size",
          "label": "Heading size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineSmall"
        }
      ]
    },
    {
      "type": "custom_property",
      "name": "Custom option",
      "settings": [
        {
          "type": "paragraph",
          "content": "Learn more about [Product custom option](https://support.themegoal.com/hc/en-us/articles/8422025856269-Product-Custom-Options)."
        },
        {
          "type": "select",
          "id": "property_type",
          "label": "Type",
          "options": [
            {
              "value": "block",
              "label": "Block list"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "image",
              "label": "Image list"
            },
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "long_text",
              "label": "Long text"
            }
          ],
          "default": "text"
        },
        {
          "type": "text",
          "id": "property_name",
          "label": "Name",
          "default": "Name"
        },
        {
          "type": "checkbox",
          "id": "property_is_required",
          "label": "Property is required",
          "default": false
        },
        {
          "type": "header",
          "content": "Values",
          "info": "Visible when ‘Type’ setting is set to ‘Block list’, ‘Dropdown’ or ‘Image list’."
        },
        {
          "type": "text",
          "id": "property_values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        },
        {
          "type": "text",
          "id": "image_prefix",
          "label": "Image name prefix",
          "info": "Visible when ‘Type’ setting is set to ‘Image list’. Differentiate pictures between multiple product templates."
        },
        {
          "type": "checkbox",
          "id": "property_first_value_is_selected",
          "label": "First value as default",
          "default": true
        }
      ]
    },
    {
        "type": "varianDesc",
        "name": "Variant Description",
        "limit": 1
    }
  ]
}
{% endschema %}