{%- capture background_image_url -%}
  {%- if section.settings.background_image -%}
    {{- section.settings.background_image | image_url: width: 1500 -}}
  {%- else -%}
    {{- 'password.jpg' | asset_img_url: '1500x' -}}
  {%- endif -%}
{%- endcapture -%}

<style>
  .Password__Header .Heading,
  .Password__Header .Password__Action svg,
  .Password__Footer .Heading,
  .Password__Footer a,
  .Password__Footer .Nav__Link {
    color: {{ section.settings.text_color }} ;
  }

  {%- if section.settings.logo -%}
    @media screen and (max-width: 640px) {
      .Password__LogoImage {
        max-width: {{ section.settings.mobile_logo_max_width }}px;
        height: auto;
      }
    }
    @media screen and (min-width: 641px) {
      .Password__LogoImage {
        max-width: {{ section.settings.logo_max_width }}px;
        height: auto;
      }
    }
  {%- endif -%}
</style>

<div class="Password" style="background-image: url({{ background_image_url }})">
  <header class="Password__Header">
    {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_max_width -%}
      {%- assign image_size_2x = section.settings.logo_max_width | times: 2 | at_most: 5760 -%}

      <img class="Password__LogoImage"
          src="{{ section.settings.logo | image_url: width: image_size }}"
          srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
          loading="lazy"
          decoding="async"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
          alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
    {%- else -%}
      <span class="Password__LogoText">{{- shop.name -}}</span>
    {%- endif -%}

    <button class="Password__Action Button Button--icon" data-tg-toggle="Modal" data-tg-target="#Modal-Password">
      <span class="HiddenSmall">{{ 'general.password.enter_password' | t }}</span>  {% render 'icons', icon: 'lock' %}
    </button>
  </header>

  <div class="Password__Content">
    <div class="Password__Newsletter Password__Card">
      {%- if section.settings.heading != blank -%}
        <h1 class="Password__Heading">{{ section.settings.heading | escape }}</h1>
      {%- endif -%}

      {%- if section.settings.newsletter_text != blank -%}
        <div class="Password__Message RTE">{{ section.settings.newsletter_text }}</div>
      {%- endif -%}
      {%- if shop.password_message != blank -%}
        <div class="Password__Message RTE">
          {{ shop.password_message }}
        </div>
      {%- endif -%}

      {%- if section.settings.show_newsletter_signup -%}
        {%- form 'customer', class: 'Password__Form Form' -%}
          {%- if form.posted_successfully? -%}
            <p class="Alert Alert--success">{{ 'general.password.newsletter_success' | t }}</p>
          {%- else -%}

             {%- if form.errors -%}
              <div class="Form__Alert Alert Alert--danger">
                <ul class="List List--unstyle">
                  {%- for field in form.errors -%}
                    {%- if field == 'form' -%}
                      <li>{{ form.errors.messages[field] }}</li>
                    {%- else -%}
                      <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            
            <input type="hidden" name="contact[tags]" value="prospect, password page">

            <div class="Form__ItemGroup">
              <div class="Form__Item Form__Item--email">
                <input id="PasswordContactFormEmail--{{ section.id }}" type="email" class="Form__Input" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" title="{{ 'general.meta.email_format' | t }}" name="contact[email]" placeholder="{{ 'general.password.newsletter_input' | t }}" aria-label="{{ 'general.password.newsletter_input' | t }}">
                <label class="VisuallyHidden" for="PasswordContactFormEmail--{{ section.id }}">{{ 'general.password.newsletter_input' | t }}</label>
              </div>
              <div class="Form__Item Form__Item--button">
                <button type="submit" class="Button Button--primary">{{ 'general.password.newsletter_submit' | t }}</button>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      {%- endif -%}
    </div>

  </div>

  <footer class="Password__Footer">
    {%- capture shopify_link -%}
      <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
        {%- render 'icons', icon: 'shopify-logo' -%}
      </a>
    {%- endcapture -%}

    <div class="Password__PoweredBy">{{ 'general.password.powered_by_html' | t: shopify_link: shopify_link }}</div>
  </footer>
</div>


<div id="Modal-Password" class="Modal Fade Modal--password" aria-hidden="true" role="dialog" data-scrollable>
  <div class="Modal__Dialog Modal__Dialog--centered">

    <div class="Modal__Content">
      <button type="button" class="ButtonClose" data-tg-dismiss="Modal" aria-label="{{ 'general.modal.close' | t }}"></button>

      <div class="Password__Content">
        <div class="Password__Card">
          <h1 class="Password__Heading">{{ 'general.password.enter_password' | t }}</h1>

          {%- form 'storefront_password', class: 'Password__Form Form', id: 'modal-password' -%}
            {%- if form.errors -%}
              <p class="Alert Alert--danger">{{ form.errors.messages['form'] }}</p>
            {%- endif -%}

            <div class="Form__ItemGroup">
              <div class="Form__Item Form__Item--password">
                <input id="StorefrontPasswordFormPassword" type="password" class="Form__Input" name="password" placeholder="{{ 'general.password.password_input' | t }}" aria-label="{{ 'general.password.password_input' | t }}" autofocus>
                <label class="VisuallyHidden" for="StorefrontPasswordFormPassword">{{ 'general.password.password_input' | t }}</label>
              </div>
              <div class="Form__Item Form__Item--button">
                <button type="submit" name="commit" class="Button Button--primary">{{ 'general.password.password_submit' | t }}</button>
              </div>
            </div>

          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "120 x 50px .png recommended."
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "label": "Logo image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo image width",
      "default": 90
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Custom background image",
      "info": "1800 x 1200px .jpg recommended."
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "header",
      "content": "Newsletter signup"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter_signup",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    }
  ]
}
{% endschema %}