{%- render 'page-header' -%}

<div class="Page Container--spacing{{ section.settings.spacing_position }}">
  <div class="PageLeft PageLeft--borderBottom">
    <div class="PageLeft__Inner">
      <section class="Container Container--fluid Container--fitScreen Container--spacingMediumPadding">
        {%- form 'create_customer', name: 'create_customer', class: 'Form Form--createCustomer', id: 'CreateCustomer' -%}
    
          {%- if form.errors -%}
              <div class="Form__Alert Alert Alert--danger">
                <ul class="List List--unstyle">
                  {%- for field in form.errors -%}
                    {%- if field == 'form' -%}
                      <li>{{ form.errors.messages[field] }}</li>
                    {%- else -%}
                      <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}

            <div class="Form__Item Form__Item--floatingLabel">
                <input id="CreateCustomerFormLastName--{{ section.id }}" type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
                <label class="Form__Label" for="CreateCustomerFormLastName--{{ section.id }}">{{ 'customer.register.last_name' | t }}</label>
            </div>

    
            <div class="Form__Item Form__Item--floatingLabel">
                <input id="CreateCustomerFormFirstName--{{ section.id }}" type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
                <label class="Form__Label" for="CreateCustomerFormFirstName--{{ section.id }}">{{ 'customer.register.first_name' | t }}</label>
            </div>

            <div class="Form__Item Form__Item--floatingLabel">
                <input id="CreateCustomerFormEmail--{{ section.id }}" type="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" title="{{ 'general.meta.email_format' | t }}" class="Form__Input" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required">
                <label class="Form__Label" for="CreateCustomerFormEmail--{{ section.id }}">{{ 'customer.register.email' | t }}</label>
            </div>
    
            <div class="Form__Item Form__Item--floatingLabel">
                <input id="CreateCustomerFormPassword--{{ section.id }}" type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required="required">
                <label class="Form__Label" for="CreateCustomerFormPassword--{{ section.id }}">{{ 'customer.register.password' | t }}</label>
            </div>
    
            <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.register.submit' | t }}</button>
            <div class="Form__Text" style="margin-top: 1rem;">
                <span class="TextMuted">{{ 'customer.register.have_account' | t }}</span>
                <a href="{{ routes.account_login_url }}" class="Button Button--underline"> {{ 'customer.register.login' | t }}</a>
            </div>
        {%- endform -%}
      </section>
    </div>
  </div>
  {%- if section.settings.image != blank -%}
      <div class="PageRight Container Container--fluid Container--spacingMediumPadding">
        <div class="PageRight__Inner">
          {%- assign section_image = section.settings.image -%}
          <div class="Ratio" style="--tg-aspect-ratio: {{ section_image.aspect_ratio }};">
              <img class="Page__Image"
                srcset="{%- if section_image.width >= 360 -%}{{ section_image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section_image.width >= 535 -%}{{ section_image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section_image.width >= 750 -%}{{ section_image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section_image.width >= 1070 -%}{{ section_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section_image.width >= 1500 -%}{{ section_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section_image | image_url }} {{ section_image.width }}w"
                src="{{ section_image | image_url: width: 1500 }}"
                sizes="(min-width: 1008px) calc(100vw / 2), 100vw"
                alt="{{ section_image.alt | escape }}"
                loading="lazy"
                decoding="async"
                width="{{ section_image.width }}"
                height="{{ section_image.height }}">
  
            <noscript>
              <img src="{{ section_image | image_url: width: 800 }}" loading="lazy" height="{{ section_image.height }}" width="{{ section_image.width }}" alt="{{ section_image.alt | escape }}">
            </noscript>
          </div>
        </div>
        
      </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Register page",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Bottom"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}