{%- render 'page-header' -%}

<script src="{{ 'section-login.js' | asset_url }}" defer="defer"></script>

<div class="Page Container--spacing{{ section.settings.spacing_position }}">
    <div class="PageLeft PageLeft--borderBottom">
      <div class="PageLeft__Inner">
        <section-login class="Container Container--fluid Container--fitScreen Container--spacingMediumPadding" data-section-id="login">
            {%- assign is_recover_active = false -%}
        
            {%- form 'recover_customer_password' -%}
                {%- if form.errors or form.posted_successfully? -%}
                    {%- assign is_recover_active = true -%}
                {%- endif -%}
            {%- endform -%}
        
            {%- comment -%}
            -------------------------------------------------------------------------------------
            Login form
            -------------------------------------------------------------------------------------
            {%- endcomment -%}
        
            {%- liquid
            if is_recover_active 
                assign login_default_visibility = 'display: none'
            else 
                assign login_default_visibility = 'display: block' 
            endif 
            -%}
        
            {%- form 'customer_login', name: 'login', class: 'Form Form--login', id: 'CustomerLogin', style: login_default_visibility -%}
        
                {%- if form.errors -%}
                    <div class="Form__Alert Alert Alert--danger">
                    <ul class="List List--unstyle">
                        {%- for field in form.errors -%}
                        {%- if field == 'form' -%}
                            <li>{{ form.errors.messages[field] }}</li>
                        {%- else -%}
                            <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                        {%- endif -%}
                        {%- endfor -%}
                    </ul>
                    </div>
                {%- endif -%}
        
                <div class="Form__Item Form__Item--floatingLabel">
                    <input id="floatingLoginEmail--{{ section.id }}" type="email" class="Form__Input" name="customer[email]" placeholder="name@example.com">
                    <label class="Form__Label" for="floatingLoginEmail--{{ section.id }}">{{ 'customer.login.email' | t }}</label>
                </div>
                <div class="Form__Item Form__Item--floatingLabel">
                    <input id="floatingLoginPassword--{{ section.id }}" type="password" class="Form__Input" placeholder="Password" name="customer[password]">
                    <label class="Form__Label" for="floatingLoginPassword--{{ section.id }}">{{ 'customer.login.password' | t }}</label>
                </div>
        
                <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.login.submit' | t }}</button>
        
                <div class="Form__Text" style="margin-top: 1rem;">
                    <span class="TextMuted">{{ 'customer.login.register_label' | t }}</span>
                    <a href="{{ routes.account_register_url }}" class="Button Button--underline"> {{ 'customer.login.register_link' | t }}</a>
                </div>
                <div class="Form__Text">
                    <span class="TextMuted">{{ 'customer.login.forgot' | t }}</span>
                    <button type="button" class="Button Button--underline" data-action="toggle-customer-form"> {{ 'customer.recover_password.title' | t }}</button>
                </div>
            {%- endform -%}
        
            {%- comment -%}
            -------------------------------------------------------------------------------------
            Recovery form
            -------------------------------------------------------------------------------------
            {%- endcomment -%}
        
            {%- if is_recover_active -%}
                {%- assign recover_default_visibility = 'display: block' -%}
            {%- else -%}
                {%- assign recover_default_visibility = 'display: none' -%}
            {%- endif -%}
        
            {%- form 'recover_customer_password', name: 'recover', class: 'Form Form--recoverPassword', id: 'RecoverCustomerPassword', style: recover_default_visibility -%}
                <header class="TextCenter" style="margin-bottom: 1.5rem;">
                    <h1 class="TitleLarge">{{ 'customer.recover_password.title' | t }}</h1>
        
                    {%- unless form.posted_successfully? -%}
                    <p class="Form__Text">{{ 'customer.recover_password.description' | t }}</p>
                    {%- endunless -%}
                </header>
        
                {%- if form.errors -%}
                    <p class="Form__Alert Alert Alert--danger">
                        {{- form.errors.messages['form'] -}}
                    </p>
                {%- endif -%}
        
                {%- if form.posted_successfully? -%}
                    <p class="Form__Text Alert Alert--success">
                        {{- 'customer.recover_password.success' | t -}}
                    </p>
                {%- endif -%}
        
                <div class="Form__Item Form__Item--floatingLabel">
                    <input id="floatingRecoverEmail--{{ section.id }}" type="email" class="Form__Input" required="required" name="email" placeholder="{{ 'customer.recover_password.email' | t }}" autofocus>
                    <label for="floatingRecoverEmail--{{ section.id }}">{{ 'customer.recover_password.email' | t }}</label>
                </div>
        
                <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.recover_password.submit' | t }}</button>
        
                <div class="Form__Text" style="margin-top: 1rem;">
                    <span class="TextMuted">{{ 'customer.recover_password.login_label' | t }}</span>
                    <button type="button" class="Button Button--underline" data-action="toggle-customer-form">{{ 'customer.recover_password.login_link' | t }}</button>
                </div>
            {%- endform -%}
        
        </section-login>
      </div>
    </div>
    {%- if section.settings.image != blank -%}
        <div class="PageRight Container Container--fluid Container--spacingMediumPadding">
          <div class="PageRight__Inner">
            {%- assign section_image = section.settings.image -%}
            <div class="Ratio" style="--tg-aspect-ratio: {{ section_image.aspect_ratio }};">
                <img class="Page__Image"
                  srcset="{%- if section_image.width >= 360 -%}{{ section_image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section_image.width >= 535 -%}{{ section_image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section_image.width >= 750 -%}{{ section_image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section_image.width >= 1070 -%}{{ section_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section_image.width >= 1500 -%}{{ section_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section_image | image_url }} {{ section_image.width }}w"
                  src="{{ section_image | image_url: width: 1500 }}"
                  sizes="(min-width: 1008px) calc(100vw / 2), 100vw"
                  alt="{{ section_image.alt | escape }}"
                  loading="lazy"
                  decoding="async"
                  width="{{ section_image.width }}"
                  height="{{ section_image.height }}">
    
              <noscript>
                <img src="{{ section_image | image_url: width: 800 }}" loading="lazy" height="{{ section_image.height }}" width="{{ section_image.width }}" alt="{{ section_image.alt | escape }}">
              </noscript>
            </div>
          </div>
          
        </div>
    {%- endif -%}
</div>

{% schema %}
{
  "name": "Login page",
  "settings": [
    {
      "type": "select",
      "id": "spacing_position",
      "label": "Spacing position",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Top",
          "label": "Top"
        },
        {
          "value": "Bottom",
          "label": "Bottom"
        },
        {
          "value": "Medium",
          "label": "Top and Bottom"
        }
      ],
      "default": "Bottom"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}